<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Login</title>
    <style type="text/css">
    .container{
      display:flex;
      justify-content:center;
      padding:350px;
      height:100vh;
      flex-wrap:wrap;
    }
    a:hover
    {
    color:red;
    }
    body{
      background-image:url("./images/login-bg2.jpg");
      background-size:100%;
    }
    </style>
</head>
<body>
   <div class="container ">
   <div class="row">
     <div class="col">
         <h1>I had Brain早餐購物平台</h1>
     </div>
     <div class="col">
    <form action="#" th:action="@{/login}" th:object="${member}" method="post"class="center">
         
        <p>訂餐請登入</p>
        <p>
            <label for="uname">Username:</label>
            <input type="text" id="uname" name="uname" th:field="*{uname}">
        </p>
        <p>
            <label for="upsd">Password :</label>
            <input type="password" id="upsd" name="upsd" th:field="*{upsd}">
        </p>
        <p>
            <input type="submit" value="會員登入">
        </p>
        <div th:if="${error}" style="color: red;">Invalid username or password.</div>
        <p>還不是會員嗎?<a th:href="@{/show1Member}" class="btn btn-outline-primary">加入會員</a></p>
    </form>
    </div>
    </div>
   </div>
</body>
</html>